<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    
    <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
<!-- Navbar section -->
    <section class="Navbarsection">
        <!-- NavBar -->
        <div class="navigation">
            <nav class="nav">
                <a class="nav-link active" href="#">Portfolio</a>
                <a class="nav-link" href="service">Service</a>
                <a class="nav-link" href="#">About</a>
                <a class="nav-link" href="contact">Contact</a>
            </nav>
            {{!-- <button class="workWithUs">
                <a href="indexChild1">
                Work with us
                </a>
            </button> --}}
        </div>
        <section class="flexboxcontainern">
            <div class="ncontainer">

                <div class="nmiddle">
                    <div class="nleft">

                    </div>
                    <div class="ncontent">
                        <h1>I help talented coaches grow their online businesses.</h1>
                        <p>
                            Helping other people reach their goals — in health, business, or personal mission — is your special gift.
                            
                            You’re a damn good coach who gets your clients results and you’re ready to make a bigger impact.
                            
                            I create minimalist websites with compelling copy so you can empower more people from all around the world.</p>
                            
                        </div>
                    </div>
                    <div class="nright">
                        
                </div>
            </div>
            
        </section>
        <div class="feature">
            <h1>As featured in</h1>
        </div>
    </section >
    <!-- ending of navbar -->
    
<!-- Feature section -->
    <section class="featureSection">
        <img src="media-logos-01.svg" style="height: 100px; align-items: center;margin-top: 60px;">
        <img src="media-logos-02.svg" style="height: 100px; align-items: center;margin-top: 60px;">

    </section>
    <!-- End of feature sectio -->
    
    <section class="whatWeDo">
        <div class="serviceText">
            Our Services
        </div>

        <div class="insider">
            <div class="fullStack">
                <div>
                    <img src="https://images.unsplash.com/photo-1542662565-7e4b66bae529?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=564&q=80" alt="" style="width: 50px;border-radius:10px;height:70px;padding-right:2px;margin:10px ;">
                </div>
                <div>
                    <b>Full stack</b><br>
                    <p>
                        Lorem ipsum dolor sit 
                        amet consectetur adipisicing 
                        elit. Libero, laudantium est. 
                        Alias, et? Earum tenetur quia 
                       
                    </p>
                </div>
            </div>
            <div class="seo">
                <div>
                    <img src="https://images.unsplash.com/photo-1542662565-7e4b66bae529?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=564&q=80" alt="" style="width: 50px;border-radius:10px;height:70px;padding-right:2px;margin:10px ;">
                </div>
                <div>
                    <b>SEO</b><br>
                    <p>
                        Lorem ipsum dolor sit 
                        amet consectetur adipisicing 
                        elit. Libero, laudantium est. 
                        Alias, et? Earum tenetur quia 
                       
                    </p>
                </div>
            </div>
        </div>
        <br>
        <br>
        <br>
        <div class="seeService">
           <p> Let’s fix your website so it brings you clients who need your help.<br><br><br><br><br>
            <!-- <img src="unnamed.png" style="width: 46px;height: 48px;left: 666px;top: 2027px;align:center;"> -->
        My websites help coaches grow their online businesses.<br><br>
        I’m here to help you get more clients so you can focus<br> on the reason you started your online business in the first place:<br><br>
        Help people from all over the world live happier, more fulfilling lives.<br><br>
        Click the button below to find out how we can work together.</p>
            <button class="serviceButton">See service and pricing</button>
        </div>

        <div class="about">
            <p>
                I’m here to help you show up for your audience, 
                show them the life that’s possible for them,<br> and help them actually live that life.
            </p>

        </div>

    </section>


    
    <!-- Image section -->
    <section class="flexboxcontainer">
        <div class="container">
            <div class="left">
                <div class="content">
                    <h1>You made a real freakin website yourself.</h1>
                    <p>It took hours upon hours of YouTube and far too many weekends, but you figured this out and you are proud.

                        But you’re also feeling:
                        
                        Overwhelmed with tech issues
                        Disappointed that no one’s signing up for your newsletter
                        Anxious because your calendar’s so empty</p>
                        
                </div>
            </div>
            <div class="right">

            </div>
        </div>
        
    </section >
    <section class="flexboxcontainer">
        <div class="containerT">
          <div class="leftT"></div>
          <div class="rightT">
            <div class="contentT">
              <h1>We can turn this around and build a website that actually works for your coaching business.</h1>
              <p>I create websites for coaches like you so you can focus on helping your clients change their lives.

                I’ve helped my clients...
                
                Grow their email lists and fill them with ideal clients
                Book out their calendars with sales calls
                Sign new clients who are fun and easy to work with
                Increase their prices and hit their income goals
                I can help you, too.</p>
            </div>
        </div>
    </div>
</section>
<section class="flexboxcontainer">
    <div class="container">
        <div class="left">
            <div class="content">
                <h1>Websites are hard when you’re trying to do it all on your own.</h1>
                <p>I see it all the time with my clients.

                    Most have struggled through hours of tech tutorials. Some even have horror stories about freelancers who ghosted on them (after they paid thousands of dollars in deposit fees).
                    
                    They’ve taken marketing advice that isn’t relevant to their business and ended up with websites that don’t get results.
                    
                    And what I see way too often is online coaches getting to this point and just giving up.
                    
                    They convince themselves that no one’s buying because they aren’t qualified enough. They feel like failures and decide this online business thing isn’t going to work. They give up and let their domains expire.</p>
                    
                </div>
            </div>
            <div class="right">

            </div>
        </div>
    </section>

    <!-- Service -->
    <section class="flexboxcontainer" class="containerService">
        <div >
            <div class="flex-container-row">
                <!-- <div>1</div> -->
                <div>
                    <h2>When I build your website, I use the perfect combination<br> of my skills and experience.</h2>
                </div>
                <!-- <div>3</div> -->
          
            </div>
            <div class="flex-container-column">
                <div>
                    <img src="https://images.unsplash.com/photo-1542662565-7e4b66bae529?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=564&q=80" alt="">
                    <h3>Business</h3>
                    <p>I started coding websites when Britney Spears was singing, “Hit me baby one more time.”</p>
                </div>
                <div>
                    <img src="https://images.unsplash.com/photo-1542662565-7e4b66bae529?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=564&q=80" alt="">
                    <h3>Web design</h3>
                    <p>I co-founded a tech startup while studying for my degrees in mechanical engineering and entrepreneurship.</p>
                </div>
                <div>
                    <img src="https://images.unsplash.com/photo-1542662565-7e4b66bae529?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=564&q=80" alt="">
                    <h3>Copywriting</h3>
                    <p>From green energy to smart elevators, I’ve learned to sell for all sorts of businesses with my words.</p>
                </div> 
                <div>
                    <img src="https://images.unsplash.com/photo-1542662565-7e4b66bae529?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=564&q=80" alt="">
                    <h3>Consultant</h3>
                    <p>I used to earn a living explaining complex ideas in simple words to some of the smartest people in tech.</p>
                </div>
            </div>
        </div>
            
    </section>

    <!-- Testimonial -->
    <section class="flexboxcontainer"> 
        <div class="containertest">
            <div class="card">
                <img src="https://images.unsplash.com/photo-1542662565-7e4b66bae529?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=564&q=80" alt="Avatar" style="width:100%;height: 300px;border-top-left-radius: 20px;border-top-right-radius: 20px;">
                <div class="containertestin">
                  <h4><b>John Doe</b></h4> 
                  <p>Architect & Engineer</p> 
                </div>
            </div>
            <div class="card">
                <img src="https://images.unsplash.com/photo-1542662565-7e4b66bae529?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=564&q=80" alt="Avatar" style="width:100%;height: 300px;border-top-left-radius: 20px;border-top-right-radius: 20px;">
                <div class="containertestin">
                  <h4><b>John Doe</b></h4> 
                  <p>Architect & Engineer</p> 
                </div>
            </div>
            <div class="card">
                <img src="https://images.unsplash.com/photo-1542662565-7e4b66bae529?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=564&q=80" alt="Avatar" style="width:100%;height: 300px;border-top-left-radius: 20px;border-top-right-radius: 20px;">
                <div class="containertestin">
                  <h4><b>John Doe</b></h4> 
                  <p>Architect & Engineer</p> 
                </div>
            </div>
            
        </div>
    </section>

    <!-- footer -->
    
    <div class="container"></div>
<footer>
  <!-- Footer main -->
  <section class="ft-main">
    <div class="ft-main-item">
      <h2 class="ft-title">About</h2>
      <ul>
        <li><a href="#">Services</a></li>
        <li><a href="#">Portfolio</a></li>
        <li><a href="#">Pricing</a></li>
        <li><a href="#">Customers</a></li>
        <li><a href="#">Careers</a></li>
      </ul>
    </div>
    <div class="ft-main-item">
      <h2 class="ft-title">Resources</h2>
      <ul>
        <li><a href="#">Docs</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">eBooks</a></li>
        <li><a href="#">Webinars</a></li>
      </ul>
    </div>
    <div class="ft-main-item">
      <h2 class="ft-title">Contact</h2>
      <ul>
        <li><a href="#">Help</a></li>
        <li><a href="#">Sales</a></li>
        <li><a href="#">Advertise</a></li>
      </ul>
    </div>
    <div class="ft-main-item">
      <h2 class="ft-title">Stay Updated</h2>
      <p>Subscribe to our newsletter to get our latest news.</p>
      <form method="POST">
        <input type="email" name="subscribe" placeholder="Enter email address">
        <input type="submit" value="Subscribe">
      </form>
    </div>
  </section>

  <!-- Footer social -->
  <section class="ft-social">
    <ul class="ft-social-list">
      <!-- <li><a href="#"><i class="fab fa-facebook"></i></a></li> -->
      <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
      <li><a href="#"><i class="fab fa-twitter"></i></a></li>
      <li><a href="#"><i class="fab fa-instagram"></i></a></li>
      <li><a href="#"><i class="fab fa-github"></i></a></li>
      <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
      <li><a href="#"><i class="fab fa-youtube"></i></a></li>
    </ul>
  </section>

  <!-- Footer legal -->
  <section class="ft-legal">
    <ul class="ft-legal-list">
      <li><a href="#">Terms &amp; Conditions</a></li>
      <li><a href="#">Privacy Policy</a></li>
      <li> &copy; 2021 Copyright G1 incorp</li>
    </ul>
  </section>
</footer>
    <script type="text/javascript">
        //Get the button:
        mybutton = document.getElementById("myBtn");

        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function() {scrollFunction()};

        function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            mybutton.style.display = "block";
        } else {
            mybutton.style.display = "none";
        }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
        // document.body.scrollTop = 0; // For Safari
        document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
        }

    </script>
<script src="https://kit.fontawesome.com/c9f619f946.js" crossorigin="anonymous"></script>    
</body>
</html>
