<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/service.css">
</head>
<body>
    <!-- Navigation bar -->
    <section class="Navbarsection">
        <!-- NavBar -->
        <div class="navigation">
            <nav class="nav">
                <a class="nav-link active" href="index">Portfolio</a>
                <a class="nav-link" href="#">Service</a>
                <a class="nav-link" href="#">About</a>
                <a class="nav-link" href="contact">Contact</a>
            </nav>
            {{!-- <button class="workWithUs">
                <a href="indexChild1">
                Work with us
                </a>
            </button> --}}
        </div>
        <section class="flexboxcontainern">
            <div class="ncontainer">

                <div class="nmiddle">
                    <div class="nleft">

                    </div>
                    <div class="ncontent">
                        <h1>As a coach, you help your clients live happier and more fulfilling lives.</h1>
                        <p>I became a web designer to help you do more of that.

                            So let’s go get you some clients!</p>
                            
                        </div>
                    </div>
                    <div class="nright">
                        
                </div>
            </div>
            
        </section>
        <!-- <div class="feature">
            <h1>As featured in</h1>
        </div> -->
    </section >
    <!-- ending of navbar -->

    <!-- PSST section -->
    <section class="Servicepsst">
        <h3>PSST</h3>
        <p>
            It's you.<br>
            Don't doubt yourself<br>
            You are a great coach<br>
            You just let people know the same<br>
            And I can help you with that.
        </p>
    </section>
    <!-- Ending of PSST section -->

    <!-- Services -->
    <section class="flexboxcontainerservice" class="containerService">
        <div >
            <div class="flex-container-row">
                <!-- <div>1</div> -->
                <div>
                    <h2>When I build your website, I use the perfect combination<br> of my skills and experience.</h2>
                </div>
                <!-- <div>3</div> -->
          
            </div>
            <div class="flex-container-column">
                <div>
                    <img src="https://images.unsplash.com/photo-1542662565-7e4b66bae529?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=564&q=80" alt="">
                    <h3>Business</h3>
                    <p>I started coding websites when Britney Spears was singing, “Hit me baby one more time.”</p>
                </div>
                <div>
                    <img src="https://images.unsplash.com/photo-1542662565-7e4b66bae529?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=564&q=80" alt="">
                    <h3>Web design</h3>
                    <p>I co-founded a tech startup while studying for my degrees in mechanical engineering and entrepreneurship.</p>
                </div>
                <div>
                    <img src="https://images.unsplash.com/photo-1542662565-7e4b66bae529?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=564&q=80" alt="">
                    <h3>Copywriting</h3>
                    <p>From green energy to smart elevators, I’ve learned to sell for all sorts of businesses with my words.</p>
                </div> 
                <div>
                    <img src="https://images.unsplash.com/photo-1542662565-7e4b66bae529?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=564&q=80" alt="">
                    <h3>Consultant</h3>
                    <p>I used to earn a living explaining complex ideas in simple words to some of the smartest people in tech.</p>
                </div>
            </div>
        </div>
            
    </section>

    <!-- End of services -->

    <!-- Pricing -->
    <section class="flexboxcontainerservicePrice" class="containerService">
        <div >
            <div class="flex-container-row">
                <!-- <div>1</div> -->
                <div>
                    <h2>Pricing</h2>
                    <p>Website package for online coaches</p>
                </div>
                <!-- <div>3</div> -->
          
            </div>
            <div class="flex-container-column-service">
                <div>
                    <img src="https://images.unsplash.com/photo-1542662565-7e4b66bae529?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=564&q=80" alt="">
                    <h3>Custom Squarespace Website </h3>
                    <p>I turn your vision into a beautiful, high-converting website that helps your ideal clients buy from you.</p>
                </div>
                <div>
                    <img src="https://images.unsplash.com/photo-1542662565-7e4b66bae529?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=564&q=80" alt="">
                    <h3>Brand Kit Design </h3>
                    <p>I give your logo a refresh and select your brand fonts and colors. You’ll have a strong visual brand you can use everywhere online.</p>
                </div>
                <div>
                    <img src="https://images.unsplash.com/photo-1542662565-7e4b66bae529?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=564&q=80" alt="">
                    <h3>Copywriting</h3>
                    <p>I write all the words that go on your website so you don’t have to waste time staring at a blank screen. No dreaded reminder emails from me nudging you for your website content.</p>
                </div> 
                <!-- <div>
                    <img src="https://images.unsplash.com/photo-1542662565-7e4b66bae529?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=564&q=80" alt="">
                    <h3>Consultant</h3>
                    <p>I used to earn a living explaining complex ideas in simple words to some of the smartest people in tech.</p>
                </div> -->
            </div>
            <div class="flex-container-column-service">
                <div>
                    <img src="https://images.unsplash.com/photo-1542662565-7e4b66bae529?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=564&q=80" alt="">
                    <h3>Brand Strategy</h3>
                    <p>I craft a brand story and message that you can share with your audience, so you can stand out and become the most memorable expert in your field.</p>
                </div>
                <div>
                    <img src="https://images.unsplash.com/photo-1542662565-7e4b66bae529?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=564&q=80" alt="">
                    <h3>Photo Editing</h3>
                    <p>I edit your DIY photos so it looks like you paid a pro photographer $$$ for a branding photo shoot.</p>
                </div>
                <div>
                    <img src="https://images.unsplash.com/photo-1542662565-7e4b66bae529?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=564&q=80" alt="">
                    <h3>Client Journey Strategy</h3>
                    <p>I clarify your client journey from when they first meet you to when they buy from you, and design a supersmooth client experience.</p>
                </div> 
                <!-- <div>
                    <img src="https://images.unsplash.com/photo-1542662565-7e4b66bae529?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=564&q=80" alt="">
                    <h3>Consultant</h3>
                    <p>I used to earn a living explaining complex ideas in simple words to some of the smartest people in tech.</p>
                </div> -->
            </div>
        </div>
            
    </section>
    <!-- End of pricing -->

    <!-- PSST section -->
    <section class="Servicepsst2">
        <!-- <h3>PSST</h3> -->
        <p>
            It’s 100% possible to sign ideal clients without wasting any more time trying to do it on your own.
        </p>
    </section>
    <!-- Ending of PSST section -->

    <!-- FAQ section -->
    <section>
    <div class="box">
        <p class="heading">FAQs</p>
        <div class="faqs">
           <details>
              <summary>Which platform will you use for my website?</summary>
              <p class="text">I create all my client websites on Squarespace. You’ll love Squarespace because it’s easy to use and affordable.</p>
           </details>
           <details>
            <summary>Do you offer payment plans?</summary>
            <p class="text">Yes! For every website project, the payment is split into 3 parts: 30% deposit to book your slot in my production calendar, 35% at the start of the project, and 35% at the end of the project.</p>
         </details>
           <details>
              <summary>Who owns the content on my new website?</summary>
              <p class="text">When I transfer ownership of your new website over to you, I also give you the rights to the intellectual property. You own everything.</p>
           </details>
           <details>
              <summary>Do you offer ongoing support after the project is over?</summary>
              <p class="text">Absolutely. At the end of the web design project, we can discuss how I can continue to support your business so you can stay in your zone of genius, working with your clients.</p>
           </details>
        </div>
     </div>
    </section>
    <!-- End -->


    <!-- Footer -->
    <div class="container"></div>
    <footer>
      <!-- Footer main -->
      <section class="ft-main">
        <div class="ft-main-item">
          <h2 class="ft-title">About</h2>
          <ul>
            <li><a href="#">Services</a></li>
            <li><a href="#">Portfolio</a></li>
            <li><a href="#">Pricing</a></li>
            <li><a href="#">Customers</a></li>
            <li><a href="#">Careers</a></li>
          </ul>
        </div>
        <div class="ft-main-item">
          <h2 class="ft-title">Resources</h2>
          <ul>
            <li><a href="#">Docs</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">eBooks</a></li>
            <li><a href="#">Webinars</a></li>
          </ul>
        </div>
        <div class="ft-main-item">
          <h2 class="ft-title">Contact</h2>
          <ul>
            <li><a href="#">Help</a></li>
            <li><a href="#">Sales</a></li>
            <li><a href="#">Advertise</a></li>
          </ul>
        </div>
        <div class="ft-main-item">
          <h2 class="ft-title">Stay Updated</h2>
          <p>Subscribe to our newsletter to get our latest news.</p>
          <form method="POST">
            <input type="email" name="subscribe" placeholder="Enter email address">
            <input type="submit" value="Subscribe">
          </form>
        </div>
      </section>
    
      <!-- Footer social -->
      <section class="ft-social">
        <ul class="ft-social-list">
          <!-- <li><a href="#"><i class="fab fa-facebook"></i></a></li> -->
          <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
          <li><a href="#"><i class="fab fa-twitter"></i></a></li>
          <li><a href="#"><i class="fab fa-instagram"></i></a></li>
          <li><a href="#"><i class="fab fa-github"></i></a></li>
          <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
          <li><a href="#"><i class="fab fa-youtube"></i></a></li>
        </ul>
      </section>
    
      <!-- Footer legal -->
      <section class="ft-legal">
        <ul class="ft-legal-list">
          <li><a href="#">Terms &amp; Conditions</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li>&copy; 2019 Copyright Nowrap Inc.</li>
        </ul>
      </section>
    </footer>
    <!-- Footer ending -->

    
</body>
</html>